<app-topo></app-topo>

<div *ngIf= "jogoEmAndamento; else fimDeJOgo ">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>

</div>

<ng-template #fimDeJogo>
    <div *ngIf ="tipoEncerramento === 'derrota'; else fimDeJogo " class="container"></div>
    <div class="row">
        <div class="col">
            <h3 style="color: red">Fim de Jogo Infelizmente você perdeu :s</h3>
        
          <button class="btn btn-primary"(click)= "reiniciarJogo()"></button>
        </div>
    </div>


</ng-template>
<ng-template #fimDeJogoVBitoria >